*
{
  margin: 0;
  padding: 0; 
}

body{
  background-color: #040929;
}

.nav-bar
{
    background: #A6B1F6;
    height: 80px;
}

.logo{
  margin: 10px;
  height: 60px;
}

#snow-fall{
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  transition: 1s;
}